{% extends "SpiritDevDBoxUserBundle::layout.html.twig" %}

{% block title %}{{ 'pagetitle.login'|trans }} {{ parent() }}{% endblock %}

{% block fos_user_content %}

    <div class="row">
        <h1 class="page-header text-center">{{ 'login.title'|trans }}</h1>
    </div>

    {% if error %}
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="FB-error">
                        {{ error|trans }}
                    </div>
                    <div>
                        {{ 'login.forgotten.password.sentense'|trans }}
                        <a href="{{ path('fos_user_resetting_request') }}">{{ 'login.forgotten.password.link'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="input_user"><i
                                    class="glyphicon glyphicon-user"></i></span>
                        <input class="form-control" type="text" id="username" name="_username"
                               value="{{ last_username }}"
                               required="required" aria-describedby="input_user"
                               placeholder="{{ 'login.username'|trans }}"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="input_password"><i
                                    class="glyphicon glyphicon-lock"></i></span>
                        <input class="form-control" type="password" id="password" name="_password" required="required"
                               aria-describedby="input_password" placeholder="{{ 'login.password'|trans }}"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> Remember me
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <input class="btn btn-default btn-block" type="submit" id="_submit" name="_submit"
                           value="Submit" data-loading-text="Connecting..." autocomplete="off"
                           onclick="if($('#password').val() != '' && $('#username').val() != '') {$(this).button('loading');}"/>
                </div>
            </div>
        </form>
    </div>

{% endblock fos_user_content %}
